.main-panel{
    width: 100%;
    height: 360em;
    background-color: #f2f2f2;
}
/* car search field */
.search-panel{
    width:20%;
    height:240%;
    position: absolute;
    margin-left: 12.5%;
    padding-right: 6.5%;
    background-color: white;
}

.filters-block{
    width: 100%;
    height:30%;
    list-style-type: none;
    margin-left: 0%;
    padding-left: 0%;
}

.filter-block{
    width: 100%;
    height: 30%;
    margin-left: 5%;
}

.filter-title{
    width: 100%;
    height:20%;
    margin-left: 0%;
}

.checkbox-items{
    list-style-type: none;
    width: 100%;
    height: 90%;
    overflow: scroll;
    padding-left: 0%;
}

.checkbox-item{
    width: 100%;
    height: 20%;
}

/* car record field */
.car-result{
    width: 50%;
    height: 100%;
    position: relative;
    margin-left: 37.5%;
    position: relative;
}
.car-list{
    width: 100%;
    height: 90%;
    position: relative;
}
.single-car-record-panel{
    width:100%;
    height:40%;
}
.car-photo-panel{
    width:40%;
    height:100%;
    position: absolute;
}

.car-photo{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.car-info-panel{
    margin-left: 0%;
    width:100%;
    height: 100%;
}
.car-info-panel-list{
    width: 100%;
    height: 100%;
    list-style-type: none;
}
.car-info-panel-item{
    width: 100%;
    height: 18em;
}
.car-detail-panel{
    width: 50%;
    height: 100%;
    margin-left: 45%;
}
.car-title{
    width: 100%;
    height: 10%;
}

.car-new-used{
    position: absolute;
    
}
.car-year{
    position: absolute;
    margin-left: 10%;
}
.car-brand{
    position: absolute;
    margin-left: 20%;
}
.car-model{
    position: absolute;
    margin-left: 30%;
}


.car-price{
    width: 100%;
    height: 10%;
}

.price{
    position: absolute;
}

.car-color{
    width: 100%;
    height: 10%;
}

.car-exterior-color{
    position: absolute;
}
.car-interior-color{
    position: absolute;
    margin-left: 20%;
}

.car-type{
    width: 100%;
    height: 10%;
}

.car-type-detail{
    position: absolute;
}

.car-miles{
    width: 100%;
    height: 10%;
}

.car-miles-number{
    position: absolute;
}